* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 970px;
  padding-inline: 20px;
  margin: auto;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid div {
  height: 100px;
  border: solid black 1px;
}
